* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: #240229;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wiki {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 6.8%;
  height: 100%;
  width: 33.33%;
  top: 0;
  left: 0;
}

.wiki-list {
  padding: 5%;
  width: 80%;
  height: auto;
  width: auto;
  margin: 5%;
  border-radius: 15px;
  box-shadow: 0px 0px 80px 0px transparent;
}

.wiki-list-new {
  padding: 5%;
  width: 80%;
  height: auto;
  margin: 5%;
  border-radius: 15px;
  box-shadow: 0px 0px 80px 0px #C41FDE;
}

.wiki-list-header {
  color: white;
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Montserrat', sans-serif;
}

.wiki-list-item {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  font-size: 12px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.btnFace {
  position: absolute;
  width: 40vh;
  height: 40vh;
  background: linear-gradient(#DE8C35, #C41FDE, #14AADE);
  border-radius: 50%;
  animation: welcome 2s ease-in;
  z-index: -1;
}

@keyframes welcome {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.btnFace span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#DE8C35, #C41FDE, #14AADE);
  border-radius: 50%;
}

.btnFace-color1 {
  filter: blur(2px);
}

.btnFace-color2 {
  filter: blur(4px);
}

.btnFace-color3 {
  filter: blur(7px);
}

.btnFace-color4 {
  filter: blur(12px);
}

.btnFace:after {
  content: '';
  position: absolute;
  top: 2vh;
  left: 2vh;
  right: 2vh;
  bottom: 2vh;
  background-color: #240229;
  border-radius: 50%;
}

.waves {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
  border-radius: 50%;
  width: 36vh;
  height: 36vh;
  z-index: 1;
  overflow: hidden;
}

.waves #canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

.btnSpeak {
  width: 10vh;
  height: 10vh;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #150118;
  background-color: #240229;
  animation: move 3s ease-in;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btnSpeak:hover {
  cursor: pointer;
  background-color: #4b0c55;
  transition: .3s ease-in-out;
}

.btnSpeak img {
  width: 35%;
  height: 35%;
}

.recordColor1 {
  filter: blur(5px);
}

.recordColor2 {
  filter: blur(10px);
}

.recordColor3 {
  filter: blur(25px);
}

.recordColor4 {
  filter: blur(50px);
}
